<pagination
  :msgs="msgs"
  :page-idx="pageIdx",
  :quantity="quantity"
  :fetch-msg="fetchMsg">
</pagination>

<notice-bar
  v-show="!msgs.length">
</notice-bar>

<!-- 下面的 quantity 需要 sync 同步 -->
<display-control
  :msgs="msgs"
  :page-idx="pageIdx"
  :quantity.sync="quantity"
  :fetch-msg="fetchMsg">
</display-control>

<ul class="list-group">
  <!-- track-by 指令可提高复用率 http://cn.vuejs.org/guide/list.html#track-by -->
  <li class="list-group-item" v-for="msg in msgs" track-by="id">
    <!-- 这里加 @click.stop 主要是因为会莫名报错，可能是因为使用了 BootStrap 的缘故 -->
    <!-- 错误详情：Uncaught TypeError: a.getAttribute is not a function  jquery.min.js:2-->
    <a @click.stop
      v-link="{ name: 'detailMsg', params: { msgId: msg.id } }">
      <b>{{ msg.title }}</b>
    </a>

    <span class="badge">
      {{ msg.ctime | dateTimeFormatter 3 }}
    </span>

    <br/>
    
    <span class="text-muted">by</span>
    
    <a @click.stop
      v-link="{ path: '/msg', query: { author: msg.author } }">
      <i>{{ msg.author }}</i>
    </a>

    <!--
      传入索引 $index 以便于随后的删除操作
      若不传入 $index 则不能使用便捷的 $remove 函数
      只能使用 filter 来剔除被删除的 msg
      详情 http://cn.vuejs.org/api/#array-remove-reference
    -->
    <opt-btn-group
      :msg="msg"
      :index="$index"
      parent-name="MsgList">
      <a slot="detailMsgBtn"
        class="btn btn-info"
        v-link="{ name: 'detailMsg', params: { msgId: msg.id } }"
        @click.stop>
        查看详情
      </a>
    </opt-btn-group>
  </li>
</ul>
