<nav>
  <ul class="pager">
    <li
      class="previous"
      v-show="pageIdx > 1"
      @click="fetchMsg(-1)">
      <a href="javascript:;">
        <span aria-hidden="true">&larr;</span>
        上一页
      </a>
    </li>
    <!-- 输入框中的值类型为String，使用==隐式转换较为优雅 -->
    <li
      class="next"
      v-show="msgs && msgs.length == quantity"
      @click="fetchMsg(1)">
      <a href="javascript:;">
        下一页
        <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>

<div v-if="!msgs.length"
  role="alert"
  class="alert alert-warning alert-dismissible">
  <button
    type="button"
    class="close"
    data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>暂无更多信息</strong>
</div>

<center>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          当前为第
          <span class="badge">
            {{ pageIdx }}
          </span>
          页（当页共
          <span class="label label-default">
            {{ msgs.length }}
          </span>
          条数据），限制每页加载数量为
        </div>
        <input
          type="text"
          class="form-control"
          style="width: 4em"
          v-model="quantity"
          placeholder="默认10"/>
        <div class="input-group-addon">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-xs"
              @click="fetchMsg(0)">
              OK
            </button>
            <button
              class="btn btn-xs dropdown-toggle"
              data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a @click.stop
                  v-link="{ path: 'refresh?dest=/msg' }">
                  重置页面（强制刷新）
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
</center>

<ul class="list-group">
  <!-- track-by指令可提高复用率 http://cn.vuejs.org/guide/list.html#track-by -->
  <li class="list-group-item" v-for="msg in msgs" track-by="id">
    <!-- 这里加@click.stop主要是因为会莫名报错，可能是因为使用了BootStrap的缘故 -->
    <!-- 错误详情：Uncaught TypeError: a.getAttribute is not a function  jquery.min.js:2-->
    <a @click.stop
      v-link="{ name: 'detailMsg', params: { msgId: msg.id } }">
      <b>{{ msg.title }}</b>
    </a>

    <span class="badge">
      {{ msg.time | dateTimeFormatter }}
    </span>

    <br/>
    
    <span class="text-muted">by</span>
    
    <a @click.stop
      v-link="{ path: '/msg', query: { author: msg.author } }">
      <i>{{ msg.author }}</i>
    </a>

    <opt-btn-group
      :is-author="$root.userData && $root.userData.username === msg.author"
      :msg-id="msg.id"
      :index="$index">
      <a slot="detailMsgBtn"
        class="btn btn-info"
        v-link="{ name: 'detailMsg', params: { msgId: msg.id } }"
        @click.stop>
        详情
      </a>
    </opt-btn-group>
  </li>
</ul>
